:root {
  --color-text-hero: #F21B2D;
  --color-text: #F2F2F2;
}

.movieRow {
  margin-bottom: 30px;
  width: 100%;
}

.movieRow--listarea {
  display: flex;
  padding-left: 30px;
  flex-flow: row nowrap;
  margin: 10px 0 30px;
  overflow-x: scroll;
}

.movieRow--item {
  display: inline-block;
}

.movieRow--item img {
  width: 200px;
  height: 280px;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.text-recommended {
  color: var(--color-text);
  padding-left: 40px;
}

.name-hero {
  color: var(--color-text);
  text-align: center;
}

.link-details {
  color: var(--color-text-hero);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.img-details {
  width: 300px;
}

.container-details {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card img {
  max-width: 500px;
}