.btn-details-registered {
    width: 100%;
    height: 50px;
    background-color: var(--color-text-hero);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin: 10px;
}

.container-btn-registered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}