:root {
    --color-text-hero: #F21B2D;
    --color-text: #F2F2F2;
}

.container-feature {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.container-feature img {
    width: 500px;
}

.text-register {
    color: var(--color-text);
    font-size: 32px;
    max-width: 300px;
    text-align: center;
}

.btn-register {
    width: 250px;
    height: 70px;
    background-color: var(--color-text-hero);
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 30px;
}

.container-user {
    background: linear-gradient(to bottom, #111, transparent);
    display: flex;
    color: var(--color-text);
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.btn-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .btn-close {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.icon-close {
    margin-left: 50px;
    margin-top: 30px;
}
  
/* RESPONSIVIDADE */

@media (max-width: 801px) and (min-width: 320px) {
    .container-feature img {
        width: 100%;
    }
    .container-feature {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
    }

    .text-register {
        color: var(--color-text);
        font-size: 25px;
        margin-top: -50px;
    }

    .btn-register {
        width: 80%;
        height: 60px;
    }
    .btn-mobile {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 20px;
    }
    .container-user img {
        width: 150px;
    }
    .container-user {
        justify-content: space-between;
    }
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: 112vh;
        background-color: rgba(0, 0, 0, 0.8);
        transition: ease 1s;
      }
      .btn-close {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    
    .icon-close {
        margin-left: 15px;
        margin-top: 30px;
    }
}