:root {
    --color-text-hero: #F21B2D;
    --color-text: #f2f2f2;
}

.container-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.avatar {
    width: 500px;
}

.text-main {
    font-family: "Poppins", sans-serif;
    color: var(--color-text);
    font-size: 32px;
    max-width: 380px;
    line-height: 60px;
}

.text-main input {
    background-color: transparent;
    border-bottom: 1 px solid var(--color-text-hero);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-text-hero);
    width: 100%;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--color-text);
}

.text-hero {
    color: var(--color-text-hero);
    margin-top: -30px;
}

.btn-login {
    width: 350px;
    height: 70px;
    background-color: var(--color-text-hero);
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 40px;
}

.text-main input::placeholder {
    color: var(--color-text);
    opacity: 0.5;
}