.icon-close {
  border: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 10%;
}

.container-btn-modal {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 650px;
  height: 100vh;
  background-color: #060126;
  margin: 0 auto;
}

