:root {
  --color-text-hero: #F21B2D;
  --color-text: #F2F2F2;
}

.container-register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: var(--color-text);
  width: 500px;
}

.container-input {
  width: 500px;
}

.container-input input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-text-hero);
  outline: none;
  padding: 20px;
  color: var(--color-text);
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--color-text);
  opacity: 0.8;
}

.input-register {
  margin-bottom: 20px;
}

.btn-register-hero {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: var(--color-text);
  background-color: var(--color-text-hero);
  cursor: pointer;
  margin-top: 30px;
}

::-webkit-input-placeholder  { 
  color: var(--color-text);
  opacity: 0.5;
}

.link-get-url {
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
  margin-top: 10px;
}

.link-get-url:hover {
  color: var(--color-text-hero);
}

/* MOBILE */


@media (max-width: 640px) and (min-width: 360px) {
  .container-register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: var(--color-text);
    width: 80%;
  }
  .container-input {
    width: 100%;
  }
}